mixin sData(data)
	// start sData
	+b.SECTION.sData.section#sData&attributes(attributes)
		.container
			+b.section-title
				h2 Цены, сроки и фото выполненных проектов:
				p Мы гарантируем что, заказывая дизайн проект в компании СК «АРТ-ДЕКОР» наши Заказчики получат бонусом бесплатные консультации технических специалистов. Также мы гарантируем, что выполненные проекты не содержат нарушений правил перепланировки и при необходимости мы согласуем наш проект в надлежащих инстанциях.
			//- .tabs
			//- 	.tabs__caption
			//- 		+e.caption-row.row.justify-content-center
			//- 			+sDataCaptionItem('планировка')
			//- 			+sDataCaptionItem('полный проект', 'active')
			//- 			+sDataCaptionItem('VR-дизайн')
			//- 	.tabs__wrap
			//- 		.tabs__content.active
			//- 			+sDataSlider()
			//- 		.tabs__content
			//- 			+sDataSlider()
			//- 		.tabs__content
			+sDataSlider()
	// end sData

mixin sDataCaptionItem(txt,addClasses='')
	.col-md-auto
		+e.tabs-btn.tabs__btn(class=addClasses)=txt

mixin sDataSlider()
	+e.slider-wrap.sData-slider-box-js
		.d-none.d-md-block
			+arrow()
		.swiper-container.sData-slider-js
			.swiper-wrapper
				-for(let i=0; i < 3; i++)
					+sDataSlide({
						square: '61 м2',
						imgNum: 1,
						disTxt: 'Дизайн-проект 2х ком.',
					})
					+sDataSlide({
						square: '48 м2',
						imgNum: 2,
						disTxt: 'Дизайн-проект 1х ком.',
					})
					+sDataSlide({
						square: '81 м2',
						imgNum: 3,
						disTxt: 'Дизайн-проект 3х ком.',
					})
					+sDataSlide({
						square: '73 м2',
						imgNum: 4,
						disTxt: 'Дизайн-проект 2х ком.',
					})

mixin sDataSlide(data)
	.swiper-slide
		+e.box
			+e.square=data.square
			+e.img(href="#")
				img(loading="lazy" src=`img/@2x/sData-${data.imgNum}.png`)
			+e.content
				+e.dis-txt
					span=data.disTxt
					br
					span кв-ры в АК "Ландыши"
				+e.char-items
					+sDataSlideCharItem(1, 'Цена за проект:', 'от 349 р/м2')
					+sDataSlideCharItem(2, 'Время работы:', 'от 3 дней')
			+e.btn(href='#') ПОДРОБНЕЕ

mixin sDataSlideCharItem(imgNum, boldTxt, txt)
	+e.char-item
		+e.icon
			img.img-svg-js(loading="lazy" src=`img/svg/sData-icon-${imgNum}.svg` alt="")
		+e.txt
			b=boldTxt
			span=txt