mixin sFeedBack(data)
	// start sFeedBack
	+b.SECTION.sFeedBack.section#sFeedBack&attributes(attributes)
		.container
			+b.section-title
				h2 Отзывы о компании "СК АРТ-ДЕКОР"
			+e.items
				-for(var i=1; i < 4; i++)
					+sFeedBackItem(i)
	// end sFeedBack

mixin sFeedBackItem(fancyId)
	+e.item.sFeedBack-item-js
		+e.H4.title Отзыв о ремонте квартиры от Изабеллы М.
		+e.row.row
			.col-md-6
				+e.sub-row.row
					.col-12
						+sFeedBackImgLink(6, fancyId)
					-for(var i=1; i<=6; i++)
						.col-4
							+sFeedBackImgLink(i, fancyId)
			.col-md-6
				+sFeedBackIconed(1,'Объект:','Ул. Островитянова, S - 76 кв.м.')
				+sFeedBackIconed(2)
					+e.ic-title Задача:
					+e.UL.list
						li Создать дизайн в стиле современная классика.
						li Создание светлого и чистого интерьера.
						li Создание двух изолированных комнат
						li Придумывать вместительную систему хранения.
				+sFeedBackIconed(3,'Сроки:','3.5 месяца')
				+sFeedBackIconed(4)
					+e.read-btn.sFeedBack-open-js
						span Прочитать
						span отзыв клиента
		+e.feedback.sFeedBack-feedback-js
			+e.f-close-btn.sFeedBack-close-js
				+icon('cross')
			+e.f-row.row
				.col-sm-auto.text-center
					+e.portrait
						img(loading="lazy" src="img/@2x/sFeedback-portrait.jpg" alt="")
					+e.name Изабелла М.
				.col-sm-auto.text-center
					+e.cert-txt Анкета клиента:
					+e.cert(href="img/@2x/sFeedback-cert.jpg" data-fancybox=`cert${fancyId}`)
						img(loading="lazy" src="img/@2x/sFeedback-cert.jpg" alt="")
				.col-sm
					+e.f-txt Искренне благодарна сотрудникам строительной фирмы "СК Арт Декор" за отлично выполненный ремонт моей новой квартиры. Особенно понравился дизайн детской комнаты, за что спасибо дизайнеру Оксане, мои мальчишки просто в восторге! Заказывала комплексный ремонт, так как квартиру купили с черновой отделкой, думала процесс растянется надолго. Все отделочные работы были выполнены аккуратно и в оговоренный в договоре срок. Новоселье мы отпраздновали вовремя!

mixin sFeedBackImgLink(imgNum,fancyId)
	+e.img-link(href=`img/@2x/sHow-${imgNum}.jpg` data-fancybox=`sFeedBack${fancyId}`)
		img(loading="lazy" src=`img/@2x/sHow-${imgNum}.jpg` alt="")

mixin sFeedBackIconed(imgNum,title, val)
	+e.iconed
		+e.icon
			img.img-svg-js(loading="lazy" src=`img/svg/sFeedBack-${imgNum}.svg` alt="")
		+e.content
			if block
				block
			else
				+e.ic-title=title
				+e.val=val